/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





















body{
	margin: 0;
	font-family: 'Oxigen', sans-serif;
	color: white;
	background-color: #b7d8d2;
}

h1, h2, h3 {
	font-family: 'Ubuntu', sans-serif;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

header {
	background-color: #202a2b;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 30px;
}
a {
	text-decoration: none;
}

a:-webkit-any-link {
	color: white;
}


nav {
	background-color: #3e5151;
	padding: 7px 0;
	display: flex;
	align-items: center;
	justify-content: center
}

.nome {
	font-weight: bold;
	font-size: 35px;
}

nav ul {
	display: flex;
}

nav ul li {
	font-size: 20px;
	display: flex;
	padding-left: 100px;
	padding-right: 100px;
}

#Topo {
	background-color: #b7d8d2;
	color: #202a2b;
	display: flex;
	flex-direction: column;
    align-items: center;
	margin: 20px 0px 20px;
}

h1 {
	font-size: 35px;
	margin-bottom: 30px;
}

#Topo p {
	max-width: 600PX;
	font-size: 20PX;
	text-align: center;
}

#Sobre {
	background-color: #4a686a;
	color: #b7d8d2;
	margin: 0px 15px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
    align-items: center;
}

#Sobre p {
	max-width: 700PX;
	font-size: 20PX;
	text-align: center;
}

#Habilidades {
	
	background-color: #62a5a5;
	border-radius: 10px;
	margin: 0px 15px;
	padding-left: 200px;
	padding-right: 200px;
}

#Habilidades h2 {
	padding: 19.920px 0px;
	margin-bottom: 0px;
	display: flex;
    flex-direction: column;
    align-items: center;
}

#Habilidades p {
	max-width: 600PX;
	font-size: 20PX;
	text-align: center;
}

.Habilidades {
	background-color: #202a2b;
	color: #b7d8d2;
	border-radius: 10px;
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	margin: 16px 0;
}
.Habilidades2 {
	background-color: #202a2b;
	color: #b7d8d2;
	border-radius: 10px;
	display: flex;
	align-items: center;
	flex-direction: row;
	margin: 16px 0;
}

.img img {
	width: 200px;
}

.Conteudo {
	display: flex;
	flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
	flex: 1;
}